# The file is part of the "getonecms/dev-tools", OneCMS extension package.
#
# @see https://getonecms.com/extension/tools
#
# @copyright Copyright (c) 2022 OneCMS
# @license https://getonecms.com/extension/tools/license
# @author  Mohammed Shifreen <mshifreen@gmail.com>

includes:
	- src/phpstan.neon

parameters:
	paths:
		- src
		- test
	excludePaths:
		- vendor