# The file is part of the "webifycms/dev-tools", WebifyCMS development tools.
#
# @see https://webifycms.com/tools/development-tools
#
# @license Copyright (c) 2022 WebifyCMS
# @license https://webifycms.com/extension/tools/license
# @author Mohammed Shifreen <mshifreen@gmail.com>

parameters:
	level: 6