# The file is part of the "webifycms/dev-tools", WebifyCMS development tools.
#
# @see https://webifycms.com/tools/development-tools
#
# @license Copyright (c) 2022 WebifyCMS
# @license https://webifycms.com/extension/tools/license
# @author Mohammed Shifreen <mshifreen@gmail.com>

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	paths:
	    - src
	    - test
	excludePaths:
	    - vendor (?) # optional, might not exist
	ignoreErrors:
		# tests assert against known static types intentionally
		- identifier: staticMethod.alreadyNarrowedType