# The file is part of the "getonecms/dev-tools", OneCMS development tools.
#
# @see https://getonecms.com/tools/development-tools
#
# @license Copyright (c) 2022 OneCMS
# @license https://getonecms.com/extension/tools/license
# @author Mohammed Shifreen <mshifreen@gmail.com>

parameters:
	level: 6